<div class="container">
	<div class="logo">
		<img src="assets/logo.png" alt="TheEye">
		<p>Adding value to humen talent by automating repetitive tasks.</p>
	</div>
	<div class="login-container">
			<div class="title">Sign in</div>
			<div class="form">
				<input type="text" name="email" placeholder="e-mail" #email required>
				<input type="password" name="password" placeholder="password" #password required>
				<button (click)="login(email.value, password.value)" class="submit-btn">SIGN IN</button>
		</div>
	</div>
	<footer class="footer"><a href="https://theeye.io/">theeye.io</a> | Copyright © 2021 THEEYE INC.</footer>
</div>