<app-load-screen *ngIf="showOverlay"></app-load-screen>
<div class="container">
	<div class="logo">
		<img src="assets/logo.svg" alt="TheEye">
		<p>Adding value to human talent by automating repetitive tasks.</p>
	</div>
	<div class="login-container">
			<!-- <div class="title">Sign in</div> -->
			<form class="form">
				<mat-form-field appearance="fill">
					<mat-label>Email</mat-label>
					<input matInput type="text" [formControl]="email" required name="email" placeholder="someone@theeye.io">
					<mat-error *ngIf="email.invalid">{{getErrorMessage(email)}}</mat-error>
				</mat-form-field>
				<mat-form-field appearance="fill">
					<mat-label>Password</mat-label>
					<input matInput type="password" [(ngModel)]="password" name="password" required placeholder="Should be strong...">
				</mat-form-field>
				<mat-form-field *ngIf="!disabledCustomer" appearance="fill">
					<mat-label>Customer</mat-label>
					<input matInput type="text" [(ngModel)]="customer" name="customer" placeholder="Blank for default...">
				</mat-form-field>
				<button type="submit" mat-flat-button color="primary" (click)="login()">Sign in</button>
				<mat-error *ngIf="errorDiv">ERROR: {{errorDiv}}</mat-error>
			</form>
	</div>
</div>
<app-footer></app-footer>
